*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../stilus/kepek/hatter.jpg);
    
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(255, 255, 255);
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.kep
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
h2
{
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255)
}
p
{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bolder;
}